body {
    background: #eeeeee;
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif
}

/* **NAVBAR** */
@media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  .container {
    max-width: 960px;
  }
  
  .pricing-header {
    max-width: 700px;
  }
  
  .card-deck .card {
    min-width: 220px;
  }

/* **NAVBAR** */

a#read-more {
    text-decoration: none;
    color: #3cb6db;
    margin-left: 8px;
}

#list {
    margin: 0 1rem;
}

.news-card {
    margin: 20px 0;
    min-height: 120px;
}

.card-img {
    float: left;
    width: 120px;
    height: 120px;
    margin: 0 1rem 15px;
    border-radius: 8px;
}

hr {
    margin: 0 1rem;
}
